body{
	margin: 0;
	background: #F9F9F9;
}
/* 改写全局a标签 */
a{
	color:#888;
}
a:link,a:visited {
	color: #555;

}

a:active,a:hover {
	color: #FF6000;
	text-decoration:none;
}



hr{
	padding: 0;
	margin:0;
}

h3{
	font-size: 15px;
	margin-top: 13px;
	font-weight: 800;
}
 /* 单属性的标签 */
 
 .cur{
 	cursor: pointer;
 }
 .floR{
 	float: right;
 }
 .flo{
 	float: left;
 }

 .unflo{
 	clear: both;
 }

 .hid{
 	display: none;
 }

 .blo{
 	display: block;
 }

/* 通用工具方法 */
/* 遮罩层 */
.hidden-window{
	width:100%;
	height:100%;
	position:absolute;
	background:#eee;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	opacity:0.5;
}

.text-hidden{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.lab-split{
	padding-right: 80px;
	padding-left: 80px;
	margin-bottom: 10px;
}

.container.extra{
	padding-left: 80px;
	padding-right: 80px;
	margin-left: auto;
	margin-right: auto;
}

.top-nav{
	width: 100%;
	top: 0px;
	display: block;
	background: #eee;
	box-shadow: 1px 1px 1px #ddd; 
}

.top-nav .top-nav-list{
	float: right;
	position: relative;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}
.top-nav .top-nav-item{
	padding: 8px;
	display: block;
	margin-left:10px; 
	text-align: center;
	float: left;
}

.top-nav a{
	color: #888;
}



.logo{
	display: block;
	width: 167px;
	height: 67px;
	padding-top: 5px;
	margin : 10px;
	background: url(../images/leaf.png) no-repeat 0 0;
}

.search-lab .form{
	margin-top:10px; 
	margin-bottom: 0px;
	padding: 0px 10px 0 10px;
}


.search-lab .book-display{
	padding: 3px 3px 0 3px;
	margin-bottom: 0;

}

.search-lab .book-display .book-dispaly-item{
	
	width: 72px;
	margin : 0 5px 0 0; 
	padding: 0px;
	font-size: 12px;
	text-align:center;
	display: inline-block;
	text-overflow: clip;
	white-space:nowrap; 
	overflow:hidden;
}

.search-lab .book-display a:link,a:visited {
	color: #555;

}

.search-lab .book-display a:active,a:hover {
	color: #FF6000;
	text-decoration:none;
}


.nav-bar{
	background: #94DEDD;
	filter:alpha(opacity=80);   
    -moz-opacity:0.8;   
    -khtml-opacity: 0.8;   
    opacity: 0.8;   
}

.nav-bar>li>a{
	border-radius: 0 0 0 0 !important;
}


.nav-bar > li > a:hover,
.nav-bar > li > a:focus {
  text-decoration: none;
  background-color: #3399FF;
  }


.kind-bar .kind-list{
	
	height: 30px;
	line-height: 30px;
	padding-left: 15px;
	margin: 0 0 0 0 ;
	background: #EEEEEE;
	font-size: 12px; 

}

.kind-bar-main{

}






/* 页尾 */
.outer-link{
	/* padding-left:5%; */
	padding-right: 9%; 
}
.outer-link a{
	padding: 2px;
	font-size: 12px;
	color: #555;
}

.footer{
	margin-left: 12%;
	margin-right: 12%;

}

.lab-dispaly-center .tab-center{

}

/* hr 标签 改变颜色 */
.hr-color{
	margin-top: 8px;
	border-top: 1px solid #DEDEDE;

	
}

/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
	
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {


}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
	.top-nav .top-nav-list{
		float: right;
		position: relative;
		display: inline-block;
		margin-right: 200px;
		padding-right:20px; 
	}
	.top-nav .top-nav-item{
		padding: 8px;
		display: block;
		margin-left:10px; 
		text-align: center;
		float: left;
	}

	.search-lab .book-display .book-dispaly-item{
	
	width: 72px;
	margin : 0 10px 5px 0; 
	padding: 0px;
	font-size: 12px;
	text-align:center;
	display: inline-block;
	text-overflow: clip;
	white-space:nowrap; 
	overflow:hidden;
}
}